body{background-color: #c5c2c2; background-image: url(imgs/crystall_ball.jpg);
    background-repeat: no-repeat; background-position: center;}
h1{text-align: center;}
div{font-weight: bolder; text-align: center; text-decoration: none;}
li{text-decoration: none;}
p{font-weight: bold;}
