h1{text-align: center;}
div{position: fixed; text-align: justify; 
    margin: 55px;  width: 45%;}
.floating-box{width: 25%; height: 50px;
     margin: 10px; border-style: dotted; border-color:rgb(112, 52, 131); 
     background-color:rgba(225, 137, 247, 0.3); position: fixed; }
.main{position: relative; text-align: justify; }
.relativePositioned{width: 55%; padding: 100px; margin: 20px; border-style: dotted; border-color:rgb(112, 52, 131); 
    background-color:rgb(247, 214, 255); position: relative;}
.boxInBox{width: 55%; padding: 30px; margin: 10px; border-style: dotted;
     border-color:rgb(112, 52, 131); background-color:rgba(129, 20, 156, 0.329);
     position: absolute; right: 0;
}    